@model IEnumerable<NakhleNakhoda.Data.Models.DB.TedadTakhtHotel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TedadTakh_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TedadTakh_Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TedadTakh_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TedadTakh_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TedadTakh_ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
  </div>
            </div>
        </div>
    </div>
</div>


